.header {
  position: fixed;
  display: flex;
  max-width: 1280px;
  width: 100%;
  top: 0;
  margin: 0 auto;
  padding: 0 24px;
  height: 60px;
  z-index: 10;
  align-items: center;
  color: #fff !important;
  align-items: center;
  justify-content: space-between;
}

.input {
  border-radius: 10px;
  background: #fff;
  color: #000 !important;
  transition: all 0.2s ease-out;
  padding: 0 5px;
  &:before,
  &:after {
    display: none !important;
  }

  &:hover {
    background-color: rgb(221, 221, 221);
    transition: all 0.2s ease-out;
  }
}

.searchList {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  width: 370px;
  height: 450px;
  align-items: center;
  padding: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: all 0.9s ease-out;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .overlay {
    z-index: -1;
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
  }
}
