.cardList {
  grid-gap: 25px 20px;
  display: grid;
  grid-gap: 15px 15px;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;

  @media (min-width: 0) and (max-width: 455px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
