{
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-typescript",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "react-hooks", "react"],
  "ignorePatterns": ["**/*.js"],
  "rules": {
      "import/no-unused-modules": "error",
      "import/default": "error",
      "import/no-unresolved": "off",
      "import/namespace": "off",
      "import/export": "error",
      "import/no-named-as-default": "off",
      "linebreak-style": 0,
      "react/prop-types": 0,
      "react/jsx-uses-vars": [2],
      "react/display-name": 0,
      "react/react-in-jsx-scope": 0,
      "no-console": 0,
      "react/jsx-props-no-spreading": 0,
      "no-const-assign": "warn",
      "no-this-before-super": "warn",
      "no-undef": "warn",
      "no-unreachable": "warn",
      "no-unused-vars": "off",
      "constructor-super": "warn",
      "valid-typeof": "warn",
      "array-callback-return": "warn",
      "no-return-assign": "warn",
      "no-restricted-syntax": "warn",
      "no-nested-ternary": "off",
      "max-classes-per-file": "off",
      "indent": "off",
      "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
      "@typescript-eslint/indent": ["error", 2],
      "jsx-a11y/alt-text": "off",
      "import/extensions": "off",
      "import/no-extraneous-dependencies": "off",
      "@typescript-eslint/semi": ["error"],
      "quotes": ["error", "single"],
      "max-len": ["error", 140],
      "@typescript-eslint/naming-convention": ["warn"]
  }
}