html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #040304;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  color: #fff !important;
  max-width: 1200px;
  margin: 46px auto 0px auto;
  padding: 0 20px;
}

.clear {
  margin-top: 0;
  max-width: 100%;
  padding: 0;
}
